:root {
  --color-1: #000066;
  --color-2: #0224b0;
  --color-3: #07a6ff;
  /* Color original #E6A000 = amarillo */
  --color-4: #3F3F3F;
  --color-5: #DCDCDC;
  --color-6: #F2F2F2;
  --x: 115px;
  --x-movil: 76px;
}
.reference:hover {
  opacity: 0 !important;
}
.limit {
  max-width: 1512px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
* {
  max-width: 100vw;
  font-family: 'Red Hat Display', sans-serif !important;
}
body {
  color: var(--color-1);
  font-size: 1.5rem;
}
.header {
  padding: 14px 26px 0 60px;
}
.logo {
  max-width: 100%;
  width: 452px;
}
img.link {
  width: 60px;
}
.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}
.color-6 {
  color: var(--color-6);
}
.link {
  align-items: center;
  color: var(--color-4);
  display: flex;
  font-size: 19px;
  justify-content: center;
  margin: -27px 28px 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.link:hover {
  color: var(--color-3);
}
section {
  width: 100%;
}
.custom_1 {
  background-size: 100% !important;
  background: url(../img/assets_bg_banner.jpg) no-repeat;
  color: var(--color-1);
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 12% 0;
  min-height: 75.5vh;
  position: relative;
  width: 100%;
}
.custom_1 .data {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 77.75vh;
  padding: 79px 0 0 8.25%;
  width: 50%;
  font-size: 63px;
  line-height: 80px;
}
.custom_1 .img {
  bottom: -198px;
  max-width: 100%;
  position: absolute;
  right: 0;
  width: 73%;
  display: block;
  max-width: 1098px;;
}
.custom_2 {
  color: var(--color-2);
  font-size: 138%;
  letter-spacing: 1.75px;
  line-height: 1.25;
  padding: 1rem 21%;
  text-align: center;
}
.custom_3 img {
  display: block;
  margin: 26px auto 0 auto;
  width: 184px;
}
.custom_3 figcaption strong {
  font-size: 169%;
  letter-spacing: 3px;
  margin: 26px auto 14px auto;
}
.custom_3 figcaption span {
  color: var(--color-2);
  display: block;
  line-height: 38px;
  text-transform: uppercase;
}
}
.custom_3 figcaption {
  margin: 26px;
}
.custom_3 figure {
  margin: 0;
  padding: 0;
}
.custom_3 strong {
  display: block;
  text-transform: uppercase;
}
.custom_3 {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
}
.custom_4 {
  background: var(--color-5);
  color: var(--color-1);
  margin: 29rem 0 0 0;
  padding: 1rem 0;
  position: relative;
}
.custom_4 h2 {
  margin: -247px 0 10rem calc(50% + 5px);
  font-size: 4rem;
  color: var(--color-2);
}
.custom_4 article {
  margin: 0 0 0 46%;
  padding: 0 0 0 10rem;
  background: url(../img/assets_ico_130px_privado.svg) no-repeat;
  background-size: 7rem !important;
}
.custom_4 article.seguro {
  background: url(../img/assets_ico_130px_seguro.svg) no-repeat;
}
.custom_4 article.privado {
  background: url(../img/assets_ico_130px_privado.svg) no-repeat;
}
.custom_4 article.poderoso {
  background: url(../img/assets_ico_130px_poderoso.svg) no-repeat;
}
.custom_4 article.rapido {
  background: url(../img/assets_ico_130px_rapido.svg) no-repeat;
}
.custom_4 article.fiable {
  background: url(../img/assets_ico_130px_fiable.svg) no-repeat;
}
.custom_4 article.sincronizado {
  background: url(../img/assets_ico_130px_sincronizado.svg) no-repeat;
}
.custom_4 article.prevencion {
  background: url(../img/assets_ico_130px_prevencion.svg) no-repeat;
}
.custom_4 h3 {
  color: var(--color-3);
  font-weight: 900;
  letter-spacing: 6px;
  font-size: 34px;
}
.custom_4 p {
  color: var(--color-4);
  font-size: 25px;
  letter-spacing: 3px;
  margin: -3px 0 60px -2px;
}
.custom_4 img {
  display: block;
  left: 44px;
  position: absolute;
  top: -5.65rem;
  width: 44.7%;
}
.custom_5 {
  text-align: center;
  font-size: 2rem;
}
.custom_5 p:nth-child(2):before {
  content: '';
  left: 0;
  width: 100%;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  border-top: 150px solid var(--color-5);
  border-left: 50vw solid var(--color-5);
  border-bottom: 150px solid transparent;
  border-right: 50vw solid transparent;
  top: 100%;
  z-index: -1;
}
.custom_5 p.x {
  line-height: 42px;
  margin: -12px 0 0 0;
}
.custom_5 .img {
  bottom: 11.5rem;
  left: 3.75rem;
  position: absolute;
  width: 338px;
}
.custom_5 p {
  background-color: var(--color-5);
  letter-spacing: 2px;
  line-height: 43px;
  margin: 0;
  padding: 13rem 0 2rem 0;
  position: relative;
}
.custom_5 p.last-child {
  padding: 0;
}
.custom_6 {
  background-color: var(--color-5);
  margin: 25rem 0 0 0;
  position: relative;
  padding: 0 2px 15rem 0;
}
.custom_6 .mt {
  margin: -13rem 0 0 0;
}
.custom_6:before {
  content: '';
  width: 100%;
  right: 0;
  height: 150px;
  display: block;
  position: absolute;
  z-index: 1;
  border-bottom: var(--x) solid var(--color-5);
  border-right: 50vw solid var(--color-5);
  border-top: var(--x) solid transparent;
  border-left: 50vw solid transparent;
  bottom: 100%;
  z-index: -1;
}
.custom_6 h2 {
  color: var(--color-2);
  font-size: 59px;
  letter-spacing: 2px;
  margin: -10rem 0 5rem 124px;
}
.custom_6 .ico {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 0 auto 4rem auto;
}
.custom_6 p {
  color: var(--color-4);
  font-size: 30px;
  line-height: 41px;
  padding: 0 0 0 7rem;
}
.links_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.links_2 img {
  width: 100%;
  display: block;
}
.button_store {
  display: flex;
  flex-wrap: wrap;
  font-size: 41px;
  letter-spacing: 2px;
  transform: translate(9px, -8px);
}
.button_store img {
  width: 100%;
}
.links {
  display: flex;
}
figure.ss {
  margin: 0;
  overflow: hidden;
}
.links a {
  width: 224px;
  display: block;
  transform: translate(-30px, 6px);
}
.links a:last-child {
  transform: translate(-19px, 6px);
}
.ss img {
  margin: 0 0 0 -210px;
  max-width: none;
  width: 128%;
}
footer textarea,
footer input {
  padding: 1rem;
  width: 100%;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}
footer textarea::placeholder,
footer input::placeholder {
  color: var(--color-3);
  font-size: 1.5em;
  letter-spacing: .5rem;
}
footer img {
  max-width: 200px;
}
footer [name="nombre"] {
  margin: 0 1.5rem 1.5rem 0 ;
}
footer button {
  background: var(--color-3);
  border: none;
  color: var(--color-2);
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: .5rem;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}
footer > .row {
  background-color: var(--color-2);
}
footer > .row {
  padding: 3rem 5rem;
}
footer nav a span {
  display: none;
}
footer nav a {
  text-decoration: none;
  margin: 0 1rem 0 0;
}
footer nav a:hover img {
  border-color: white;
}
footer nav img {
  border: 1px solid var(--color-3);
  border-radius: 50%;
  padding: 0.5rem;
}
.credits {
  padding: 5rem;
  text-transform: uppercase;
  color: var(--color-1);
}
footer .info {
  padding: 0 0 0 5rem;
  font-size: 1.5rem;
}
.info p {
  color: var(--color-3);
  line-height: 1;
}
.info a {
  color: white;
  text-decoration: none;
}
footer .df > * {
  width: 100%;
  margin: 2rem 0;
}
footer .df {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* media movil version */
@media screen and (max-width: 576px) {
  .custom_1 {
    margin: 0 0 1rem 0 !important;
    min-height: auto;
  }
  /* .custom_6 .mt {
    .custom_1 {
    margin:0  0 0 0;
  }
    font-size: 1.5rem;
    background-size: cover !important;
  }
  .custom_1 .data {
    width: 100%;
    height: auto;
  }
  .custom_1 .img,
  .custom_4 img {
    display: block;
    position: initial;
    width: 100%;
  }
  .custom_4,
  .custom_4 article {
    margin: 0;
    background-position-x: 1rem !important;
  }
  .custom_4 h2 {
    color: var(--color-2);
    font-size: 4rem;
    line-height: 78px;
    margin: -248px 0 0 calc(50% + 5px);
  } */
  
}
@media screen and (max-width: 576px) {
  .custom_1 .data {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.2;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .links {
    margin: 0 0 0 2.5rem;
  }

  .custom_5 p:nth-child(2):before {
    border-top: 0 solid var(--color-5);
    border-bottom: 150px solid transparent;
    border-left: 100vw solid var(--color-5);
  }
  
  .custom_6:before {
    border-bottom: var(--x-movil) solid var(--color-5);
    border-top: var(--x-movil) solid transparent;
  }

  .button_store {
    justify-content: center;
    transform: translate(0, 0);
    width: 100%;
  }

  .custom_1 .img {
    position: static;
    margin: 0 auto;
  }

  .custom_2 {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .custom_3 {
    flex-direction: column;
  }

  .custom_3 img {
    margin: 0 auto;
  }

  .custom_3 figcaption strong {
    font-size: 1.5rem;
    margin: 0;
  }

  .custom_3 figcaption span {
    font-size: 1rem;
    line-height: 1.5;
  }

  .custom_3 figure {
    padding: 1rem;
  }

  .custom_4 {
    margin: 0;
    text-align: center;
  }

  .custom_4 h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .custom_4 img {
    position: static;
    width: 50%;
    margin: 0 auto;
  }

  .custom_4 article {
    margin: 0;
    padding: 0;
    background: none !important;
  }

  .custom_4 h3 {}

  .custom_4 p {
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
  }

  .custom_5 p {
    padding: 1rem;
  }

  .custom_6 {
    padding: 1rem;
    margin: 2rem 0 0 0;
  }

  .custom_6 h2 {
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
  }

  .custom_6 p {
    padding: 0;
    line-height: 1.2;
  }

  .custom_6 .ico {
    margin: 0 auto;
    width: 200px;
  }

  .custom_6 .mt {
    margin: 0;
  }

  .links_2 {
    flex-wrap: initial;
    margin: 1rem 0 0 0;
  }

  footer>.row {
    padding: 1rem;
  }

  footer textarea,
  footer input {
    padding: .5rem;
    margin: 0 .5rem .5rem 0;
    font-size: 1rem;
  }
  footer [name="nombre"] {
    margin: 0 .5rem .5rem 0 !important;
  }

  footer textarea::placeholder,
  footer input::placeholder {
    color: var(--color-3);
    font-size: 1em;
    letter-spacing: initial;
  }
  footer button {
    font-size: 1rem;
    padding: 0.5rem !important;
  }
  .credits {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-1);
  }
  footer .info {
    padding: 0;
    margin: 0 !important;
  }
  footer .df>* {
    width: 100%;
    margin: 1rem 0;
  }
}
a.link.d-block {
  margin: 0;
  display: block !important;
  text-align: center;
}